@import 'bootstrap/dist/css/bootstrap.min.css';

table {
  table-layout: fixed;
}

th, td {
  font-weight: bold;
  vertical-align: middle;
  height: 70px;
}

td:nth-child(2) {
  padding: 0 5px;
  font-size: 3rem;
}

.spinner, .card {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
